---
title: Contact
preloader: false
layout: default.hbs
bodyclass: test
loader: true
---

{{> header }}
<div class="p-4 py-lg-8 bg-grey-dark text-center overlay overlay-white overlay-op-7 bg-img" data-bg-img="assets/img/backgrounds/about.jpg" data-css="{&quot;background-position&quot;: &quot;center center&quot;,&quot;background-attachment&quot;: &quot;scroll&quot;}">
    {{!-- <h1 class="text-uppercase font-weight-bold m-0 text-white">
        Over ons
    </h1> --}}
</div>



<div id="content">
    <div id="contact">
        <div class="container p-4 py-lg-5">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
            <h2 class="text-center text-uppercase font-weight-bold my-0">
              Neem contact met ons op
            </h2>
            {{!-- <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
              Neem contact met ons op
            </h5> --}}
            <hr class="mb-5 w-50 mx-auto">
          </div>
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5">
              <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19437.08908137893!2d4.786262573718078!3d52.48572357970864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5fc666658a835%3A0xe86774a950f7b80d!2sDigital+Monkey!5e0!3m2!1snl!2snl!4v1499250484185" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <form id="contact-form" action="#" role="form">
                <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.2">
                  <label class="sr-only" for="contact-name">Name</label>
                  <input class="form-control" id="contact-name" placeholder="Name" type="text">
                </div>
                <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.3">
                  <label class="sr-only" for="contact-email">Email</label>
                  <input class="form-control" id="contact-email" placeholder="Email" type="email">
                </div>
                <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.4">
                  <label class="sr-only" for="contact-message">Message</label>
                  <textarea rows="5" class="form-control" id="contact-message" placeholder="Message"></textarea>
                </div>
                <input class="btn btn-outline-primary btn-lg" value="Verstuur bericht" type="button">
              </form>
            </div>
            <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
              <h4 class="mb-1 font-weight-bold">
                PerformanceSupport
              </h4>
              <p class="mb-1">
                <abbr title="Address"><i class="fa fa-home pr-2"></i></abbr>
                Somestreet 1, 1234 AB, Amsterdam 
              </p>
              <p class="mb-1">
                <abbr title="Email"><i class="fa fa-envelope pr-2"></i></abbr>
                    info@performancesupport.eu 
              </p>
              <p class="mb-0">
                <abbr title="Phone"><i class="fa fa-phone pr-2"></i></abbr>
                123 45678910 
              </p>
              <div class="bg-primary bg-shadow border-primary-darkend text-white p-4 pr-lg-6 mt-5 pos-relative">
                <i class="fa fa-phone-square icon-10x icon-rotate-25 icon-bg icon-bg-r-ol icon-bg-b-ol op-3 text-white"></i> 
                <h4 class="my-0 font-weight-bold text-uppercase">
                 Bel me terug
                </h4>
                <hr class="hr-lg my-2 ml-0 hr-white w-20">
                <form id="callback-form" action="#" role="form">
                  <div class="input-group">
                    <label class="sr-only" for="callback-number">Uw nummer</label>
                    <input class="form-control" id="callback-number" placeholder="Uw nummer" type="tel">
                    <span class="input-group-btn">
                      <button class="btn btn-inverse" type="button">verstuur</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{{> footer }}