---
title: Demo video
preloader: false
layout: default.hbs
bodyclass: test
loader: true
---

{{> header }}
<div class="bg-blue text-center">
  <div class="container py-10">
    <h2 class="m-0 text-white">
		"We zijn ervan overtuigd dat Practice Based Evidence het nieuwe weten is"
    </h2>
  </div>
</div>
{{!-- <div class="p-4 py-lg-8 bg-grey-dark text-center overlay overlay-white overlay-op-7 bg-img" data-bg-img="assets/img/backgrounds/about.jpg" data-css="{&quot;background-position&quot;: &quot;center center&quot;,&quot;background-attachment&quot;: &quot;scroll&quot;}"></div> --}}
<div id="content" class="p-0">
	<div class="container" id="about">
		<div class="row">
			<!--main content-->
			<div class="col-md-10 offset-md-1 py-6">
				<!-- About company -->
				<h1 class="h3 title-divider mt-3">
					<span>FYSIOTHERAPIE</span>
				</h1>
				<p>
					We gaan door waar u gebleven bent. Practice Based Evidence is het nieuwe weten binnen de fysiotherapiepraktijk. Het bekende Evidence Based concept, aangevuld met eigentijdse ontwikkelingen. Door systematisch te evalueren zijn die ontwikkelingen real time meetbaar. Wat werkt wel en wat niet, worden doelen bereikt, gaan we op deze weg door met de patiënt of niet? Zo niet, wat proberen we dan anders?
				</p>
				<p>
					Performance Support (PS) biedt een overzichtelijk systeem aan om gegevens van uw patiënten te verzamelen en te ordenen. PS heeft instrumenten die u  van de juiste informatie voorziet: 24/7, 365 dagen per jaar, op elk gewenst moment en via elk device.
				</p>
				<div align="center" class="embed-responsive embed-responsive-16by9 mt-2">
					<video id="video" controls="" preload="none" poster="https://media.w3.org/2010/05/sintel/poster.png">
						<source id="mp4" src="https://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"></source>
						<source id="webm" src="https://media.w3.org/2010/05/sintel/trailer.webm" type="video/webm"></source>
						<source id="ogv" src="https://media.w3.org/2010/05/sintel/trailer.ogv" type="video/ogg"></source>
						<p>Your user agent does not support the HTML5 Video element.</p>
					</video>
				</div>

				<div class="title-divider mt-4" id="stats">
					<h3>
						<span>HAPPY APPY <span class="font-weight-normal text-muted">in de fysiotherapiepraktijk</span></span>
					</h3>
				</div>
				<p>
					Onze Happy Customer app met de naam HAPPY APPY verzamelt gegevens van het hersteltraject, gezien door de ogen van uw patiënt. Een systeem waarin gegevens inzichtelijk worden gemaakt op een dashboard, waardoor u als fysiotherapeut op de juiste manier, en vrijwel direct na de behandeling, feedback ontvangt. Het herstel van patiënten kan worden vergeleken met andere patiënten die dezelfde factoren delen. Als het herstel niet (tijdig) de beoogde doelen behaalt, kunt u sneller schakelen naar een alternatieve behandeling of second opinion of doorverwijzen naar een andere specialist.
				</p>
				<p>
					Doel is het realiseren van een sneller en kwalitatief beter behandelingstraject met een hogere patiënttevredenheid. Immers, een tevreden patiënt is een goede ambassadeur voor nieuwe instroom. Niet alleen de patiënt heeft voordeel bij HAPPY APPY, ook u als therapeut leest in het dashboard terug welke behandelingsstrategie het snelst het behandeldoel nastreeft. U  kunt alternatieve behandelingen 'meten' en vergelijken met het origineel op bijvoorbeeld effectiviteit. Supervisie- en intervisiegesprekken krijgen met deze informatie meer waarde. Ook kunt u bepaalde behandelmethoden gebruiken om een breedschalig onderzoek te ondersteunen. Stagiaires en therapeuten sluiten zich graag bij uw praktijk aan om de mogelijkheden van HAPPY APPY voor hun eigen ontwikkeling of onderzoeksdoelen in te zetten.
				</p>

				<div class="title-divider mt-4" id="stats">
					<h3>
						<span>Vinger  <span class="font-weight-normal text-muted">aan de pols</span></span>
					</h3>
				</div>

				<p>
					De praktijkhouder heeft nóg meer voordelen. De zachte informatie van HAPPY APPY (patiënttevredenheid en het behalen van doelen) wordt gecombineerd met harde gegevens (aantal zittingen, aantal nieuwe patiënten en omzet). Op het dashboard wordt feilloos weergegeven of de patiënt tevreden is en zo niet, bij welke therapeut bepaalde problemen ontstaan. Is de patiënt wel tevreden maar worden doelen niet behaald, dan is dat wellicht een signaal dat er sprake is van een complexe klacht waarvoor een second opinion nodig is of advies van een specialist.
				</p>
				<p>
					HAPPY APPY is dé vinger aan de pols, en meer dan dat. Wat denkt u van een zorgverzekeraar die de behandeling van een patiënt niet meer wil vergoeden? Zonder veel moeite presenteert u het dossier, waarin u aantoont dat niet-behaalde doelen worden gemonitord en beslissingen om verder te behandelen altijd gefundeerd worden genomen.
				</p>

				<div class="title-divider mt-4" id="stats">
					<h3>
						<span>Gebruiksvriendelijk</span>
					</h3>
				</div>

				<p>
					Een systeem werkt alleen als het ook wordt gebruikt. Daarvoor is gebruiksvriendelijkheid een absolute voorwaarde. Met het gebruiksvriendelijke HAPPY APPY is implementatie eenvoudig en kost het een patiënt slechts 30 seconden om feedback te geven, de mogelijkheden zijn legio!
				</p>

				<div class="title-divider mt-4" id="stats">
					<h3>
						<span>MAATWERK <span class="font-weight-normal text-muted">VOOR BEDRIJVEN EN ONDERNEMERS</span></span>
					</h3>
				</div>

				<p>
					Wij leveren niet alleen maatwerk voor Fysiotherapiepraktijken, maar richten ons op meerdere branches…  We zijn ervan overtuigd dat het PS dashboard en de HAPPY APPY ook in de Retail, Opleidingsbranche en Transportsector z n meerwaarde bewijst op basis van een standaard platform.
				</p>

				<p>
					<a href="#" class="btn btn-primary btn-outline btn-rounded mt-3 py-lg-3 px-lg-5">Demo aanvragen</a>
				</p>

				<!--div class="title-divider mt-4" id="stats">
					<h3>
						<span>Vital <span class="font-weight-normal text-muted">Stats</span></span>
						{{!-- <small>Stats to impress!</small> --}}
					</h3>
				</div>
				<div class="row stats">
					<div class="col-md-3 stat">
						<div class="stat-header">1280</div>
						<small>Happpy Customers</small>
					</div>
					<div class="col-md-3 stat">
						<div class="stat-header">1634</div>
						<small>GB Transfered</small>
					</div>
					<div class="col-md-3 stat">
						<div class="stat-header">2143</div>
						<small>Bugs Fixed</small>
					</div>
					<div class="col-md-3 stat">
						<div class="stat-header">12</div>
						<small>Share Holders</small>
					</div>
				</div-->
			</div>
		</div>

	</div>
	{{> partial-testimonials }}
</div>
{{> footer }}