---
title: Homepage
preloader: false
layout: default.hbs
loader: true
---

{{> header }}
{{> partial-hero }}
  <div id="content" class="p-0">
  {{> partial-about }}
  {{> partial-app }}
  {{!--> partial-content --}}
  {{!-- {{> partial-features }} --}}
  {{!-- {{> partial-video }} --}}
  {{!-- {{> partial-pricing }} --}}
</div>
{{> footer }}