---
title: Service / FAQ
preloader: false
layout: default.hbs
bodyclass: test
loader: true
---

{{> header }}
<div class="bg-blue text-center">
	<div class="container py-10">
		<h2 class="m-0 text-white">
			"When a flower doesn’t bloom you fix the environment in which it grows, not the flower"
			<br><br><i>-Alexander den Heijer-</i>
		</h2>
	</div>
</div>
<div id="content py-0">
	<div class="container py-6">
		<div class="row">
			<!--main content-->

			<div class="col-md-12">
				<hr class="hr-lg mt-0 mb-3 w-10 mx-0 hr-primary">
				<h2 class="heading my-0 mb-5">
					Veel gestelde vragen
				</h2>
				<div class="card-accordion card-accordion-list-style card-accordion-icons-left" id="accordion-list-style" role="tablist" aria-multiselectable="true">
					<!-- Card 1 -->
					<div class="card">
						<div class="card-header py-0 px-0" role="tab" id="vraag-1"> <a data-toggle="collapse" data-parent="#accordion-list-style" href="#collapseOneList" aria-expanded="false" aria-controls="collapseOne" class="show collapsed">Brengt zo’n nieuw systeem niet heel veel gedoe met zich mee…?
</a> </div>
						<div id="collapseOneList" class="in collapse" role="tabpanel" aria-labelledby="vraag-1" aria-expanded="false" style="">
							<div class="card-block">Eligo luctus nobis pertineo. Eros exerci lenis paratus premo verto. Commoveo dignissim nimis nutus oppeto proprius utinam valetudo voco.</div>
						</div>
					</div>
					<!-- Card 2 -->
					<div class="card">
						<div class="card-header py-0 px-0" role="tab" id="vraag-2"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion-list-style" href="#collapseTwoList" aria-expanded="false" aria-controls="collapseTwo">Wat kun je met de nieuw verkregen inzichten?
</a> </div>
						<div id="collapseTwoList" class="collapse" role="tabpanel" aria-labelledby="vraag-2" aria-expanded="false" style="">
							<div class="card-block">Abigo antehabeo mos nobis veniam. Immitto te valde. Dolor genitus jus lobortis plaga ullamcorper vereor.</div>
						</div>
					</div>
					<!-- Card 3 -->
					<div class="card">
						<div class="card-header py-0 px-0" role="tab" id="vraag-3"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion-list-style" href="#collapseThreeList" aria-expanded="false" aria-controls="collapseThree">Hoe is PS te combineren met onze bestaande functioneren en beoordelingssystematiek?
</a> </div>
						<div id="collapseThreeList" class="collapse" role="tabpanel" aria-labelledby="headingThree3" aria-expanded="false" style="">
							<div class="card-block">Abbas accumsan quidem saepius tation utrum validus veniam. Camur haero melior sino valetudo. Blandit ea hendrerit ut.</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header py-0 px-0" role="tab" id="vraag-4"> <a data-toggle="collapse" data-parent="#accordion-list-style" href="#collapse-4" aria-expanded="false" aria-controls="collapseOne" class="show collapsed">Brengt zo’n nieuw systeem niet heel veel gedoe met zich mee…?
</a> </div>
						<div id="collapse-4" class="in collapse" role="tabpanel" aria-labelledby="vraag-4" aria-expanded="false" style="">
							<div class="card-block">Eligo luctus nobis pertineo. Eros exerci lenis paratus premo verto. Commoveo dignissim nimis nutus oppeto proprius utinam valetudo voco.</div>
						</div>
					</div>
					<!-- Card 2 -->
					<div class="card">
						<div class="card-header py-0 px-0" role="tab" id="vraag-5"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion-list-style" href="#collapse-5" aria-expanded="false" aria-controls="collapseTwo">Wat kun je met de nieuw verkregen inzichten?
</a> </div>
						<div id="collapse-5" class="collapse" role="tabpanel" aria-labelledby="vraag-5" aria-expanded="false" style="">
							<div class="card-block">Abigo antehabeo mos nobis veniam. Immitto te valde. Dolor genitus jus lobortis plaga ullamcorper vereor.</div>
						</div>
					</div>
					<!-- Card 3 -->
					<div class="card">
						<div class="card-header py-0 px-0" role="tab" id="vraag-6"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion-list-style" href="#collapse-6" aria-expanded="false" aria-controls="collapseThree">Hoe is PS te combineren met onze bestaande functioneren en beoordelingssystematiek?
</a> </div>
						<div id="collapse-6" class="collapse" role="tabpanel" aria-labelledby="vraag-6" aria-expanded="false" style="">
							<div class="card-block">Abbas accumsan quidem saepius tation utrum validus veniam. Camur haero melior sino valetudo. Blandit ea hendrerit ut.</div>
						</div>
					</div>
				</div>

				{{!-- <div class="bg-primary mt-6">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-5 divider-diagonal divider-diagonal-r divider-primary op-9 bg-img" data-bg-img="assets/img/shop/promo-bikini.jpg" data-css="{&quot;background-position&quot;:&quot;right bottom&quot;}"></div>
							<div class="col-lg-7 py-6 flex-valign">
								<hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white">
								<h2 class="display-4 text-slab text-grey text-uppercase my-0">
									App<span class="text-white font-weight-bold">Store</span>
								</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="bg-faded">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-7 py-6 flex-valign">
								<hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary">
								<h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
									Laatste <span class="text-primary font-weight-bold">nieuws</span>
								</h2>
							</div>
							<div class="col-lg-5 divider-diagonal divider-diagonal-l divider-faded op-9 bg-img" data-bg-img="assets/img/shop/promo-kids.jpg" data-css="{&quot;background-position&quot;:&quot;right bottom&quot;}"></div>
						</div>
					</div>
				</div> --}}
			</div>
		</div>

	</div>
</div>
{{> partial-content }}
{{> footer }}