---
title: Support
preloader: false
layout: default.hbs
bodyclass: test
loader: true
---

{{> header }}
<div class="bg-blue text-center">
  <div class="container py-10">
    <h2 class="m-0 text-white">
      Realtime support
    </h2>
  </div>
</div>
<div id="content py-0" >
  <div class="py-6 bg-faded">
    <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">
            Kent u dat? U kijkt naar informatie, maar vraagt u af of het wel de juiste informatie is. Heeft u eigenlijk wel alle informatie die nodig is voor het behalen van in- en externe doelstellingen? En hoe transformeert u  die informatie dan naar iets bruikbaars in de dagelijkse praktijk en, belangrijk, is de aanwezige informatie niet een terugblik van wat is geweest of, op z'n best, real time wat er nu gaande is?
              <br><br>
              Ons feedback- en feedforward systeem verenigt het beste van alle werelden en neemt een voorschot op de (nabije) toekomst. Het biedt uitkomst bij nog te nemen beslissingen! De focus ligt op de effectiviteit van informatie in de praktijk, en niet primair op meer werkprocessen en hun efficiency… een verandering die er toe doet!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer }}