<div id="header">
      <div class="header-upper">
        <!--Show/hide trigger for #hidden-header -->
        
        <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .flex-first or/and .flex-last classes to make an element show first or last within .header-inner or .headr-block elements -->
        <div class="header-inner container">
          <!--user menu-->
          <div class="header-block-flex flex-first mr-auto">
            <nav class="nav nav-sm header-block-flex">
              <a class="nav-link hidden-md-up" href="login.htm"><i class="fa fa-user"></i></a>
              <a class="nav-link text-xs text-uppercase hidden-sm-down" href="#signup-modal" data-toggle="modal">Inschrijven</a> <a class="nav-link text-xs text-uppercase hidden-sm-down" href="#login-modal" data-toggle="modal">Login</a> 
            </nav>
            <div class="header-divider header-divider-sm"></div>
            <!--language menu-->
            <div class="dropdown dropdowns-no-carets">
              <a href="#en" class="nav-link text-xs p-1 dropdown-toggle" data-toggle="dropdown"><i class="flag-icon flag-icon-nl"></i></a>
              <div class="dropdown-menu dropdown-menu-mini dropdown-menu-primary">
                <a href="#es" class="dropdown-item lang-de"><i class="flag-icon flag-icon-de"></i> German</a>
                <a href="#pt" class="dropdown-item lang-gb"><i class="flag-icon flag-icon-gb"></i> English</a>
              </div>
            </div>
          </div>
          <!--social media icons-->
          <div class="nav nav-icons header-block flex-last">
            <!--@todo: replace with company social media details-->
            <a href="#" class="nav-link"> <i class="fa fa-twitter-square icon-1x"></i> <span class="sr-only">Twitter</span> </a>
            <a href="#" class="nav-link"> <i class="fa fa-facebook-square icon-1x"></i> <span class="sr-only">Facebook</span> </a>
            <a href="#" class="nav-link"> <i class="fa fa-linkedin-square icon-1x"></i> <span class="sr-only">Linkedin</span> </a>
            <a href="#" class="nav-link"> <i class="fa fa-google-plus-square icon-1x"></i> <span class="sr-only">Google plus</span> </a>
          </div>
        </div>
      </div>
      <div style="visibility: hidden; display: none; width: 1510px; height: 108px; margin: 0px; float: none; position: static; top: 0px; right: auto; bottom: auto; left: auto;"></div><div data-toggle="sticky" class="sticky" style="top: 0px;">
        
        <!--Header search region - hidden by default -->
        <div class="header-search collapse" id="search">
          <form class="search-form container">
            <input name="search" class="form-control search" value="" placeholder="Zoeken" type="text">
            <button type="button" class="btn btn-link"><span class="sr-only">Zoeken</span><i class="fa fa-search fa-flip-horizontal search-icon"></i></button>
            <button type="button" class="btn btn-link close-btn" data-toggle="search-form-close"><span class="sr-only">Close </span><i class="fa fa-times search-icon"></i></button>
          </form>
        </div>
        
        <!--Header & Branding region-->
        <div class="header">
          <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .flex-first or/and .flex-last classes to make an element show first or last within .header-inner or .headr-block elements -->
          <div class="header-inner container">
            <!--branding/logo -->
            <div class="header-brand flex-first">
              <a class="header-brand-text" href="home.html" title="Home">
                <h1>
                  <span>Performance</span>Support
                </h1>
              </a>
              {{!-- <div class="header-divider hidden-md-down"></div>
              <div class="header-slogan hidden-md-down">Bootstrap 4 Theme</div> --}}
            </div>
            <!-- other header content -->
            <div class="header-block flex-last">
              
              <!--Search trigger -->
              <a href="#search" class="btn btn-icon btn-link header-btn float-right flex-last" data-toggle="search-form" data-target=".header-search"><i class="fa fa-search fa-flip-horizontal search-icon"></i></a>
              
              <!-- mobile collapse menu button - data-toggle="collapse" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu - data-toggle="overlay" = Overlay Menu -->
              <a href="#top" class="btn btn-link btn-icon header-btn float-right hidden-lg-up" data-toggle="jpanel-menu" data-target=".navbar-main" data-direction="right"> <i class="fa fa-bars"></i> </a>
            </div>
            
            <div class="navbar navbar-toggleable-md">
              <!--everything within this div is collapsed on mobile-->
              <div class="navbar-main collapse">
                <!--main navigation-->
                <ul class="nav navbar-nav float-lg-right dropdown-effect-fade">
                  <!-- Homepages -->
                  <li class="nav-item">
                    <a href="home.html" class="nav-link" id="indexs-drop"> <i class="fa fa-home nav-link-icon"></i> <span class="hidden-xs-up">Home</span> </a>
                  </li>
                  
                  <!-- Pages -->
                  <li class="nav-item">
                    <a href="demo.html" class="nav-link">Demo</a> 
                  </li>
                  <li class="nav-item">
                    <a href="content.html" class="nav-link">Over ons</a> 
                  </li>
                  <li class="nav-item">
                    <a href="service.html" class="nav-link">Service</a> 
                  </li>
                  <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a> 
                  </li>

                  
                  
                  <!-- Mega menu example -->
                  {{!-- <li class="nav-item dropdown dropdown-persist dropdown-mega-menu dropdown-mega-menu-50">
                    <a href="#" class="nav-link dropdown-toggle" id="megamenu-drop" data-toggle="dropdown" data-hover="dropdown">Mega Menu</a> 
                    <!-- Dropdown Menu - Mega Menu -->
                    <div class="dropdown-menu dropdown-menu-right">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs dropdown-nav-tabs flex-column flex-lg-row" role="tablist">
                        <li class="nav-item"> <a class="nav-link p-3 active text-center" data-toggle="tab" data-target=".menu-tab-1" role="tab">Mega Menu Tab 1</a> </li>
                        <li class="nav-item"> <a class="nav-link p-3 text-center" data-toggle="tab" data-target=".menu-tab-2" role="tab">Mega Menu Tab 2</a> </li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content py-3">
                        <div class="tab-pane active show menu-tab-1" role="tabpanel">
                          <div class="row text-center">
                            <div class="col-lg-4 py-2">
                              <i class="fa fa-tachometer icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.1" style="animation-delay: 0.1s;"></i> 
                              <h4 class="mt-2">
                                Fully Optimized
                              </h4>
                              <p>Abbas abdo augue decet dolor ea esse hos ibidem.</p>
                            </div>
                            <div class="col-lg-4 py-2">
                              <i class="fa fa-wrench icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.2" style="animation-delay: 0.2s;"></i> 
                              <h4 class="mt-2">
                                Free Support
                              </h4>
                              <p>Causa decet esse ibidem ideo natu singularis usitas validus.</p>
                            </div>
                            <div class="col-lg-4 py-2">
                              <i class="fa fa-rocket icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.3" style="animation-delay: 0.3s;"></i> 
                              <h4 class="mt-2">
                                Free Upgrades
                              </h4>
                              <p>Abigo cogo cui diam dignissim ex jumentum oppeto persto saluto.</p>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane menu-tab-2" role="tabpanel">
                          <div class="row text-center">
                            <div class="col-lg-4 py-2">
                              <i class="fa fa-line-chart icon-5x text-primary animated fadeIn" data-animate="fadeIn" data-animate-delay="0.4" style="animation-delay: 0.4s;"></i> 
                              <h4 class="mt-2">
                                99.9% Uptime
                              </h4>
                              <p>In molior nibh refoveo.</p>
                            </div>
                            <div class="col-lg-4 py-2">
                              <i class="fa fa-smile-o icon-5x text-primary animated fadeIn" data-animate="fadeIn" data-animate-delay="0.5" style="animation-delay: 0.5s;"></i> 
                              <h4 class="mt-2">
                                Multiuser
                              </h4>
                              <p>Amet enim facilisi loquor proprius utrum wisi.</p>
                            </div>
                            <div class="col-lg-4 py-2">
                              <i class="fa fa-plug icon-5x text-primary animated fadeIn" data-animate="fadeIn" data-animate-delay="0.6" style="animation-delay: 0.6s;"></i> 
                              <h4 class="mt-2">
                                Plug n play
                              </h4>
                              <p>Acsi gilvus laoreet quidne refoveo saluto scisco voco ymo.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li> --}}
                </ul>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>