<div id="highlighted">
  <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the attributes: data-toggle="full-height" data-offset="#header" -->
  <div class="bg-gradient  overlay-op-0 text-center px-3 py-5 py-lg-9 ">
    <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
        <h2 class="display-5 text-white">
          <span class="font-weight-bold">Welkom bij PerformanceSupport</span>
        </h2>
        <h3 class="text-white mt-4 font-weight-normal">
          &nbsp;<span data-typed='["Wij geloven in anders denken en doen", "in het combineren van data...", "Wij gebruiken state of the art IT-systeemontwikkelingen","en vertalen deze naar gebruikerstoepassingen.","Meer weten?"]' data-typed-settings='{"delay":1000, "speed":80,"breakLines":false, "deleteDelay":1600, "loop":true, "lifeLike":true, "doneClass":{"#get-btn":"animated fadeIn"}}'></span> 
        </h3>
        <a href="#" class="btn btn-outline-white btn-rounded font-weight-bold py-3 px-4 animate-pending mt-3" id="get-btn">Klik hier</a>
        {{!-- <h3 class="text-white mt-4 font-weight-normal" data-animate="fadeIn" data-animate-delay="0.35">
        in het combineren van harde en zachte data... Wij gebruiken state of the art <span class="nowrap">IT-systeemontwikkelingen</span> en  vertalen deze naar <span class="nowrap">mean lean &amp; easy</span> gebruikerstoepassingen.
       </h3> --}}
       {{!-- <hr class="hr-white hr-lg w-20 mx-auto my-4 mb-5" data-animate="fadeIn" data-animate-delay="0.45"> --}}
       {{!-- <div class="col-md-4 mx-auto" data-animate="fadeIn" data-animate-delay="0.55" style="animation-delay: 0.55s;"> <a href="demo.html" class="btn btn-outline-white btn-rounded btn-lg py-lg-3 px-lg-5">Bekijk video</a> --}}
       </div>
     </div>
   </div>
 </div>
</div>
