<div class="bg-blue">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2015/08/IMG_8867-960x0-c-default.jpg"></div>
			<div class="col-lg-6 p-5 p-lg-7 divider-inverse">
		
						<h2 class="heading text-white text-uppercase mb-2">
							Big data
						</h2>
						<hr class="hr-white hr-lg w-20 mx-0 my-4 mb-5">
						<p class="text-grey mb-0">Wij richten ons op het verzamelen van data en het genereren van informatie door het mixen van harde cijfers met zachte details en deze beschikbaar te stellen voor haar klanten en hun organisaties.
						</p>
					</div>
				</div>
			</div>
		</div>
</div>


<div class="bg-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 push-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2016/01/FC-webapp_header-2-960x0-c-default.jpg"></div>
			<div class="col-lg-6 pull-lg-6 p-5 p-lg-7 divider-inverse">
					
						<h2 class="heading text-uppercase mb-2">
							Lean &amp; easy going
						</h2>
						<hr class="hr-primary hr-lg w-20 mx-0 my-4 mb-5">
						<p class="mb-0">Onze diensten zijn zoals haar founders, mean, lean en easy going in het verzamelen van informatie die er toe doet. Wij vinden het belangrijk dat de informatie die u van ons krijgt als het ware een blauwdruk schetst van uw organisatie en dat van uw klanten en hun behoeften.</p>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="bg-blue">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2016/01/Studiosessie_hoppinger_Jan2016-154-960x0-c-default.jpg"></div>
			<div class="col-lg-6 p-5 p-lg-7 divider-inverse">
				
						<h2 class="heading text-white text-uppercase mb-2">
						 Realtime support
						</h2>
						<hr class="hr-white hr-lg w-20 mx-0 my-4 mb-5">
						<p class="text-grey mb-0">We kijken naar informatie maar het is vaak niet de juiste informatie, heb je wel alle informatie die je nodig hebt om je doelstellingen te behalen, intern en extern? En hoe transformeer je dat dan naar de dagelijkse praktijk
						</p>
					</div>
				</div>
			</div>
		</div>
</div>


<div class="bg-blue">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 push-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2015/12/Gites-50-960x0-c-default.jpg"></div>
			<div class="col-lg-6 pull-lg-6 p-5 p-lg-7 divider-inverse">
				
						<h2 class="heading text-white text-uppercase mb-2">
							Iets voor u?
						</h2>
						<hr class="hr-white hr-lg w-20 mx-0 my-4 mb-5">
						<p class="text-grey">We leven in een bijzondere tijd. Een tijd van continue veranderingen en transformatie. Hierbij hebben ontwikkelingen op het gebied van ICT, big data en machine learning een grote impact op onze huidige wereldbeeld.</p>
						<a href="#" class="btn btn-outline-white btn-rounded mt-3 py-lg-3 px-lg-5">Meer info</a>
					</div>
				</div>
			</div>
		</div>
</div>