<div id="about" class="py-3 pt-lg-6 py-lg-8">
  <div class="container">
    <div data-animate="fadeIn" data-animate-duration="0.8" style="animation-duration: 0.8s;">
      <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
      <h2 class="text-center text-uppercase font-weight-bold my-0">
        Wat doen wij?
      </h2>
      <h5 class="text-center font-weight-light mb-0 mt-3 text-muted">
        Wij voegen waarde toe aan real time databeheer.
      </h5>
      <hr class="mb-5 mt-4 w-50 mx-auto">
    </div>
    <div class="row">
      <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.4" data-animate-offset="100%" style="animation-delay: 0.4s;">
        <p class="lead">Is het streven naar groei, efficiency en  tastbaar verbeterde prestaties jouw doel?</p>
        <p>Wij zorgen voor informatie die uw organisatie beter laat functioneren, zonder ingewikkelde managementrapportages.</p>
        <p class="mb-0">Als ondernemer heeft u baat bij deze informatiestroom omdat de kans kleiner wordt dat een patiënt verdrinkt bij een therapeut die op een verkeerd spoor zit en dat is informatie waar ook de ziektekostenverzekeraar graag inzicht in heeft. </p>
      </div>
      <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.8" data-animate-offset="100%" style="animation-delay: 0.8s;">
        <!-- List Items -->
        <ul class="fa-ul list-unstyled mt-4 mt-md-0">
          <li class="mb-4">
            <i class="fa-li fa fa-check text-primary"></i> 
            <h4 class="mb-1">
              Realtime
            </h4>
            Real time databeheer en transfer activiteiten naar de werkvloer door focus op presteren.
          </li>
          <li class="mb-3">
            <i class="fa-li fa fa-check text-primary"></i> 
            <h4 class="mb-1">
              Efficient
            </h4>
            Geen tijdrovende uitgebreide management rapportages.
          </li>
          <li>
            <i class="fa-li fa fa-check text-primary"></i> 
            <h4 class="mb-1">
              App supported
            </h4>
            Dashboard biedt inzicht voor de ondernemer en medewerker.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>