<div id="features" class="container py-4 py-lg-6">
	<hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
	<h2 class="text-center text-uppercase font-weight-bold my-0">
		Voordelen
	</h2>
	<h5 class="text-center font-weight-light mb-0 mt-3 text-muted">
		Great features, great product!
	</h5>
	<hr class="mb-5 mt-4 w-50 mx-auto">
	<div class="row text-center">
		<div class="col-lg-4 py-2">
			<i class="fa fa-clock-o icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.1" style="animation-delay: 0.1s;"></i> 
			<h4 class="mt-2">
				Realtime feedback
			</h4>
			<p>Accumsan defui dolore duis odio oppeto quia roto te vero.</p>
		</div>
		<div class="col-lg-4 py-2">
			<i class="fa fa-euro icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.2" style="animation-delay: 0.2s;"></i> 
			<h4 class="mt-2">
				Lagere kosten
			</h4>
			<p>Accumsan defui dolore duis odio oppeto quia roto te vero.</p>
		</div>
		<div class="col-lg-4 py-2">
			<i class="fa fa-tachometer icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.3" style="animation-delay: 0.3s;"></i> 
			<h4 class="mt-2">
				Verbeterde productiviteit
			</h4>
			<p>Accumsan defui dolore duis odio oppeto quia roto te vero.</p>
		</div>
	</div>
</div>