<div id="features-sidebyside" class="pt-6 bg-white overlay overlay-white overlay-op-8 bg-img" style="background-image: url('assets/img/backgrounds/app.jpg') !important;">
  <div class="container">
    <div class="row text-left">
      {{!-- <div class="col-lg-3 text-lg-right flex-valign py-lg-6" data-animate="fadeIn" data-animate-delay="0.2" style="animation-delay: 0.2s;">
        <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
          <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
            Simple
          </h2>
          <p class="text-white mb-0 text-sm">Adipiscing molior neque. Eros facilisis importunus nunc sino.</p>
          <hr class="hr-lg my-2 w-20 ml-0 ml-lg-auto mr-lg-0 hr-primary">
        </div>
        <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
          <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
            Easy
          </h2>
          <p class="text-white mb-0 text-sm">Bene dignissim quibus saepius. Cogo ibidem imputo iusto molior ut valde.</p>
          <hr class="hr-lg my-2 w-20 ml-0 ml-lg-auto mr-lg-0 hr-primary">
        </div>
        <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
          <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
            Stylish
          </h2>
          <p class="text-white mb-0 text-sm">Dignissim ea elit haero jugis mauris scisco validus virtus.</p>
          <hr class="hr-lg my-2 w-20 ml-0 ml-lg-auto mr-lg-0 hr-primary">
        </div>
      </div>
      <div class="col-lg-3 push-lg-6 text-lg-left flex-valign py-lg-6" data-animate="fadeIn" data-animate-delay="0.4" style="animation-delay: 0.4s;">
        <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
          <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
            Modern
          </h2>
          <p class="text-white mb-0 text-sm">Eligo fere hendrerit suscipit tation.</p>
          <hr class="hr-lg my-2 w-20 ml-0 hr-primary">
        </div>
        <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
          <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
            Flexible
          </h2>
          <p class="text-white mb-0 text-sm">Autem ideo jus mos suscipit.</p>
          <hr class="hr-lg my-2 w-20 ml-0 hr-primary">
        </div>
        <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
          <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
            Top Value
          </h2>
          <p class="text-white mb-0 text-sm">Abluo aliquam consectetuer sed. Aptent et ex exputo immitto iusto lobortis premo quis.</p>
          <hr class="hr-lg my-2 w-20 ml-0 hr-primary">
        </div>
      </div> --}}
      <div class="col-lg-6 push-lg-3 flex-valign-b" data-animate="fadeIn" data-animate-delay="0.2">
        <img src="assets/img/homes/iphone-hello-cutoff.png" alt="iPhone" class="img-fluid mx-auto mt-auto">
      </div>
    </div>
  </div>
</div>