<div id="about" class="py-8">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center" data-animate="fadeIn" data-animate-duration="0.8">
				<h2 class="text-center font-weight-bold my-0">
					Droom met ons mee
				</h2>
				<hr class="mb-5 mt-4 w-50 mx-auto">

				<p class="lead">
					Onze droom bestaat vooral uit durven dromen en doen: het omzetten van ideeën naar de praktijk, bij iedereen, bij elk bedrijf, onafhankelijk van het (IT-) systeem dat gebruikt wordt, onafhankelijk van het type bedrijf, cultuur, de dagelijkse gang van zaken en de mensen die er werken.
				</p>
				<a href="#" class="btn btn-primary btn-outline btn-rounded mt-3 py-lg-3 px-lg-5">Demo aanvragen</a>

			</div>
		</div>
	</div>
</div>