
<div class="container py-8">
	<div class="row">
		<div class="col-md-6 text-center" data-animate="fadeIn" data-animate-duration="0.8">
			<img src="http://via.placeholder.com/600x500" alt="" class="align-middle img-fluid">
		</div>
		<div class="col-md-6" data-animate="fadeIn" data-animate-duration="0.8">
			<hr class="hr-lg mt-0 mb-3 w-10 mx-0 hr-primary">
			<h2 class="font-weight-bold my-0">
				Case studie Fysio
			</h2>
			<hr class="mb-5 mt-4 w-50 mx-0">

			<p class="lead">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown.
			</p>
			<a href="#" class="btn btn-primary btn-outline btn-rounded mt-3 py-lg-3 px-lg-5">Meer info en aanmelden</a>
			{{!-- <p>Wij zorgen voor informatie die uw organisatie beter laat functioneren, zonder ingewikkelde managementrapportages.</p> --}}
			{{!--  <p class="mb-0">Hoppinger werkt al jaren met Ruby on Rails voor het ontwikkelen van high end websites en webapplicaties. Van klantportalen tot vakantiehuizenwebsites, van mijn-omgevingen tot workflow-ondersteunende webapplicaties.</p> --}}
		</div>
		
	</div>
</div>
