<div class="container">
	<div class="bg-1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2015/08/IMG_8867-960x0-c-default.jpg"></div>
				<div class="col-lg-6 p-5 p-lg-7 divider-inverse">

					<h2 class="heading text-white text-uppercase mb-2">
						Big data
					</h2>
					<hr class="hr-white hr-lg w-20 mx-0 my-4 mb-5">
					<p class="text-white mb-0">
						{{!-- <b>Practice Based Evidence is het nieuwe weten</b><br> --}}
						Performance Support System (PS) verzamelt data en genereert informatie vanuit de praktijk door een gedurfde mix van harde cijfers met zachte details. Deze informatie komt rechtstreeks en real time van uw klant uit eigen IT-gebruikerssystemen. PS fungeert als digitale intermediair en laat niet alleen uw prestaties in het verleden en real time zien, maar geeft ook op basis van verzamelde gegevens een (feedforward) doorkijkje naar de toekomst.
					</p>
					<a href="#" class="btn btn-outline-white btn-rounded mt-3 py-lg-3 px-lg-5">Meer info</a>
				</div>
			</div>
		</div>
	</div>




	<div class="bg-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 push-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2016/01/FC-webapp_header-2-960x0-c-default.jpg"></div>
				<div class="col-lg-6 pull-lg-6 p-5 p-lg-7 divider-inverse  text-white">

					<h2 class="heading text-uppercase mb-2">
						HappyAppy
					</h2>
					<hr class="hr-white hr-lg w-20 mx-0 my-4 mb-5">
					<p class="mb-0">
						{{!-- <b>Happy customer = Cliënt Prestatie Index</b><br> --}}
						Onze Happy Customer app met de naam HappyAppy staat symbool voor onze Cliënt Prestatie Index (CPI): real time feedback van uw klanten. In maximaal 30 seconden real time de mening en suggesties van uw klanten, sneller kan haast niet! Wij laten graag zien hoe HappyAppy belangrijke informatie voor uw organisatie verzamelt en ordent in het dashboard van Performance Support. PS werkt samen met andere Content Management Systemen en is platformonafhankelijk.
					</p>
					<a href="#" class="btn btn-outline-white btn-rounded mt-3 py-lg-3 px-lg-5">Naar de app</a>
				</div>
			</div>
		</div>
	</div>


	<div class="bg-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2016/01/Studiosessie_hoppinger_Jan2016-154-960x0-c-default.jpg"></div>
				<div class="col-lg-6 p-5 p-lg-7 divider-inverse">

					<h2 class="heading text-black text-uppercase mb-2">
						Lean & easy going
					</h2>
					<hr class="hr-black hr-lg w-20 mx-0 my-4 mb-5">
					<p class="mb-0">
						Onze diensten zijn zoals haar founders: mean, lean & easy going in het verzamelen van informatie die ertoe doet, zonder overbodige poespas. Wij vinden het belangrijk dat de informatie, die u van ons krijgt als het ware een blauwdruk schetst van uw organisatie, van uw klanten en hun behoeften.
					</p>
					<a href="#" class="btn btn-orange btn-outline btn-rounded mt-3 py-lg-3 px-lg-5">Lees verder</a>
				</div>
			</div>
		</div>
	</div>


	<div class="bg-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 push-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2015/12/Gites-50-960x0-c-default.jpg"></div>
				<div class="col-lg-6 pull-lg-6 p-5 p-lg-7 divider-inverse">

					<h2 class="heading text-white text-uppercase mb-2">
						Realtime support
					</h2>
					<hr class="hr-white hr-lg w-20 mx-0 my-4 mb-5">
					<p class="text-white">
						Kent u dat? U kijkt naar informatie, maar vraagt u af of het wel de juiste informatie is. Heeft u eigenlijk wel alle informatie die nodig is voor het behalen van in- en externe doelstellingen? En hoe transformeert u  die informatie dan naar iets bruikbaars in de dagelijkse praktijk en, belangrijk, is de aanwezige informatie niet een terugblik van wat is geweest of, op z'n best, real time wat er nu gaande is?
					</p>
					<a href="support.html" class="btn btn-outline-white btn-rounded mt-3 py-lg-3 px-lg-5">Meer info</a>
				</div>
			</div>
		</div>
	</div>


	<div class="bg-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 hidden-md-down bg-img" data-bg-img="https://www.hoppinger.com/uploads/2016/01/Studiosessie_hoppinger_Jan2016-154-960x0-c-default.jpg"></div>
				<div class="col-lg-6 p-5 p-lg-7 divider-inverse">

					<h2 class="heading text-black text-uppercase mb-2">
						Iets voor u?
					</h2>
					<hr class="hr-black hr-lg w-20 mx-0 my-4 mb-5">
					<p class="mb-0">
						We leven in een dynamische tijd, die veel eisen stelt aan snelheid, juistheid van informatie, verzamelde data en prestaties. Hier zijn ontwikkelingen op het gebied van ICT, big data en machine learning van grote invloed op onze toekomst, waarin alle hulp welkom is om uitdagingen het hoofd te bieden.  Onze digitale hulp biedt uitkomst!
					</p>
					<a href="support.html" class="btn btn-orange btn-rounded mt-3 py-lg-3 px-lg-5">Meer info</a>
				</div>
			</div>
		</div>
	</div>
</div>
